h2 {
  color: #fff;
  font-weight: bolder;
}

.sidebar {
  width: 250px;
  background: #0b1f47;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-menu li {
  border-left: 4px solid transparent;
}

.sidebar-menu li a {
  display: flex;
  align-items: center;
  color: #a8b2d1;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.sidebar-menu li a i {
  width: 25px;
  text-align: center;
  margin-right: 10px;
  font-size: 18px;
}

.submenu li a.active {
  background-color: #1e3a8a;
  color: #fff;
  border-left: 4px solid #38bdf8;
}

.sidebar-menu li a:hover {
  background: #1e3a8a;
  color: #fff;
  border-left: 4px solid #38bdf8;
}

/* Submenu hidden by default */
.submenu {
  display: none;
  background: #132b5b;
}

.submenu li a {
  padding-left: 45px;
  font-size: 14px;
  color: #cbd5e1;
  display: block;
}

/* Dropdown icon animation */
.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s;
}

.dropdown-icon.rotated {
  transform: rotate(180deg);
}

/* Page wrapper offset */
#page-wrapper {
  margin-left: 250px;
  background-color: #f5f7fb;
  min-height: 100vh;
  padding: 20px;
}

.navbar .btn.btn-danger:hover {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-radius: 8px;
  transition: 0.2s;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
  background-color: #dc3545;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 20px;
  transition: all 0.2s ease;
}

/* .logout-btn i {
  margin-right: 8px;
} */

.logout-btn:hover {
  background-color: #a10010;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}
